*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.formulario {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.formulario h4{
    font-size: 22px;
    margin-bottom: 20px;

}

.campos{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: white;
}

.formulario p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.formulario a{
    color: white;
    text-decoration: none;
}

.formulario a:hover{
    color: white;
    text-decoration: underline;
}

.formulario .boton{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

.formulario .boton:hover{
    background: white;
    color: #1f53c5;
}